.gura
.dotfiles

# Ctags
tags
tags.tmp

# Golang
coverage.*
coverage_*.*
*.trace
*.pprof
*.test
*.exe
*.exe~
*.dll
*.so
*.dylib
!*.go

# Python
__pycache__/
*.py[cod]

# Protoc
*.protoset

# IDE
.DS_Store
.idea
.vscode
