---
name: 'Golang tag version'
run-name: 'Golang tag version'

on:
  workflow_run:
    workflows:
      - 'Golang library jobs'
    branches:
      - master
      - main
    types:
      - completed

jobs:
  tag-version:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    steps:
      - uses: actions/checkout@v6
      - uses: mathieudutour/github-tag-action@v6.2
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          fetch_all_tags: true
...
